header {
  background: url("img/slide1.jpg") center;
  background-size: cover;
  height: 620px;
}

body {
  margin: 0;
  padding: 0px 0px 0px 0px;
  opacity: 80%;
}

.atas {
  margin: center;
  padding: 40px 400px 0px 600px;
  font-family: tahoma;
  font-size: 80px;
  color: wheat;
}

hr {
  padding: 30px 100px 0px 350px;
  height: 2px;
  width: 600px;
  padding: 0px;
  color: wheat;
}

.bawah {
  margin: center;
  padding: 20px 100px 0px 300px;
  font-family: tahoma;
  font-size: 30px;
  color: wheat;
}

.search {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid black;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchTerm:focus {
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid black;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  hover-background-color: #ffffff;
  hover-cursor: pointer;
}

.searchButton img {
  height: 30px;
  width: 30px;
}

.navigasi {
  text-decoration: inherit;
  margin: auto;
  text-align: center;
  width: 100%;
  font-family: arial;
  list-style: none;
  position: relative;
  display: inline-table;
  float: left;
  display: block;
  padding: 15px;
}

.navigasi a {
  color: white;
  text-decoration: none;
}

.navigasi li {
  display: inline;
  padding: 0 20px 0 20px;
}

.wrap {
  background-color: #494747;
  margin-top: 50px;
  width: 60%;
  height: 10%;
  padding: 50px;
  opacity: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
}

.daf {
  margin-right: 1%;
  margin-top: 1%;
  float: right;
  background-color: #494747;
}

.daf button {
  height: 40px;
  width: 80px;
  background-color: #51779c;
  border: none;
}

.daf button:hover {
  background-color: #ffffff;
  cursor: pointer;
}

footereiddo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Times New Roman', serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

footer {
  background-color: #555555;
  color: #bbb;
  line-height: 1.5;
}

footer a {
  text-decoration: none;
  color: #eee;
}

a:hover {
  text-decoration: underline;
}

.footer-title {
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  font-size: 22px;
}

.footer-awal {
  padding: 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-awal-item {
  padding: 0px 5px;
  min-width: 12.5rem;
}

@media screen and (min-width: 477px) {
  .footer-awal {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1240px) {
  .footer-awal {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.footer-sosmed {
  padding: 0 20px;
}

.footer-sosmed-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 5px;
}

.footer-sosmed-list li {
  margin: 5px;
  font-size: 20px;
}

.footer-copyright {
  padding: 0px 30px;
  background-color: #333333;
}

.footer-copyright-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-copyright-list li {
  margin: 5px 10px;
  white-space: nowrap;
}
